
*,
 *::before,
 *::after{
    box-sizing:border-box;
    padding: 0.5rem;
 }
 .container{
  background-color: cornflowerblue;
  color: rgb(125, 125, 233);
  font-family: 'Segoe UI', Tahoma, ;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap:15px;
  margin-top: 40px;
}
